
<!-- <ul>
  <li *ngFor = "let contact of contactList" >
    <span class="badge">{{contact.display_name}}</span> {{contact.country_phone_code}}-{{contact.phone_number}}
  </li>
</ul> -->
<!-- <mat-list>
  <mat-list-item *ngFor="let contact of contactList">
      
      <mat-icon mat-list-icon (click)="onSelect(contact)">message</mat-icon>
      <h4 mat-line>{{contact.display_name}}</h4>
      <p mat-line> {{contact.country_phone_code}}-{{contact.phone_number}} </p>      
      
  </mat-list-item >
</mat-list> -->
<mat-card class="contact-card">
<!-- <mat-card> -->
    <mat-card-header>
        <h3><mat-icon>contact_mail</mat-icon> Contacts</h3>
        <div style="float: right;margin: 0 0 0 auto;"><app-add-contact-dialog>...</app-add-contact-dialog></div>
</mat-card-header>
<mat-divider></mat-divider>
  <mat-card-content [style.overflow]="'auto'" [style.height.px]="'373'">
    <mat-nav-list>
      <mat-list-item *ngFor="let contact of contactList" [class.selected]="contact === selectedContact" (click)="onSelect(contact)">
        <a matLine (click)="onSelect(contact)" class="mat-line-left">{{ contact.display_name }}</a>
        <a matLine (click)="onSelect(contact)" class="mat-line-left">{{contact.country_phone_code}}-{{contact.phone_number}}</a>
        <button mat-icon-button (click)="onSelect(contact)">
          <mat-icon>message</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
<!-- <app-chat [contact]="selectedContact">loading ...</app-chat> -->
