<p>
  Contacts
</p>
<!-- <ul>
  <li *ngFor = "let contact of contactList" >
    <span class="badge">{{contact.display_name}}</span> {{contact.country_phone_code}}-{{contact.phone_number}}
  </li>
</ul> -->
<!-- <mat-list>
  <mat-list-item *ngFor="let contact of contactList">
      
      <mat-icon mat-list-icon (click)="onSelect(contact)">message</mat-icon>
      <h4 mat-line>{{contact.display_name}}</h4>
      <p mat-line> {{contact.country_phone_code}}-{{contact.phone_number}} </p>      
      
  </mat-list-item >
</mat-list> -->

<mat-nav-list>
    <mat-list-item *ngFor="let contact of contactList" [class.selected]="contact === selectedContact">
       <a matLine (click)="onSelect(contact)" >{{ contact.display_name }}</a>
       <a matLine (click)="onSelect(contact)" >{{contact.country_phone_code}}-{{contact.phone_number}}</a>
       <button mat-icon-button (click)="onSelect(contact)">
          <mat-icon>message</mat-icon>
       </button>
    </mat-list-item>
  </mat-nav-list>
  <!-- <app-chat [contact]="selectedContact">loading ...</app-chat> -->