.send-button-form {
    min-width: 150px;
    /* max-width: 500px; */
    width: 100%;
  }
  
  .send-button-full-width {
    width: 90%;
  }
  
.chat-card {
  max-height: 465px;
  width: 600px;
  margin-left: 0;
  margin-right: 0;
  }
  
  ::ng-deep .mat-list .mat-list-item .mat-line{
        word-wrap: break-word;
      white-space: pre-wrap;
  }

  .mat-line-right {
    padding-right:16px
  }
  .mat-line-left{
    text-align: left;
  }

  .mat-icon-left{
    text-align: left;
  }

  .mat-icon-right{
    padding:4px;
  }
