/* .container {
    width: 100vw;
    height: 100vh;   
    overflow: none;    
}
.solution { 
  padding: 15px;
  overflow:auto;
} */

.row {
    display: inline-flex;  /* equal height of the children */
    text-align:center;
    width: 100%;
    padding-left: 10%;
  }