<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="column"><app-users>loading ...</app-users></div>
  <div class="column"><app-chat >loading ...</app-chat></div> 
</div>
<!-- <app-add-contact-dialog>...</app-add-contact-dialog> -->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>  
</div>

<mat-grid-list cols="2" >
    <mat-grid-tile><app-users>loading ...</app-users></mat-grid-tile>
    <mat-grid-tile><app-chat >loading ...</app-chat></mat-grid-tile>
</mat-grid-list>