/* You can add global styles to this file, and also import other style files */
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

  /* RIGHT align */
  .mat-list .mat-list-item.right .mat-list-text>*{
    margin: 0 0 0 auto;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
}